.statusbar__container{
    display: flex;
    width: 600px;
    overflow-x:scroll;
    
    
}
.statusbar__container::-webkit-scrollbar {
    display: none;
}

.statusbar__status{
    height: 200px;
    width: 120px;
    margin: 20px 5px;
    border-radius: 20px;    
}
.upload__icon{
    margin-top: 70px;
    margin-left: 30px;
}

.statusbar__status > input{
    display: none;
}
.status__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
